.header-section:before {
    background: url();
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}
